.footer {
   display: flex;               /* activates flexbox */
  justify-content: space-between; /* spreads items evenly */
  align-items: center;         /* vertically centers items */
  list-style: none;            /* removes default bullet points */
  padding: 0;                  /* removes default padding */
  margin: 0;
  background-color: #495E57;
  color: #fff;

  
}

 .social-media {
  
  padding-bottom: 120px;
}

.social-media ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer h4 {
  margin-top: 5px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  
  margin-right: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.copyright {
  
height: 100px;
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.last-p {
  width: 300px;
  position: absolute;
  top: 120px;
right: 510px;
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.navigation h4{
margin-top: 35px;
}

.footer  .main-logo{
padding-left: 50px;
}
.contact{
  padding-bottom: 60px;
}
