.footer {
   display: flex;               /* activates flexbox */
  justify-content: space-between; /* spreads items evenly */
  align-items: center;         /* vertically centers items */
  list-style: none;            /* removes default bullet points */
  padding: 0;                  /* removes default padding */
  margin: 0;
  background-color: #495E57;
  color: #fff;

  
}

 .social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer h4 {
  margin-top: 5px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  
  margin-right: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.last-p {
  margin: 5px 0 0 0;
  text-align: center;
}