.intro-section {
  background-color: #495E57;
  padding: 20px;
  text-align: center;
}

.specials-section {
  background-color: #fff3e0;
  padding: 20px;
  text-align: center;
}

.menu-section {
  background-color: #e0f7fa;
  padding: 20px;
}

.testimonials-section {
  background-color: #fce4ec;
  padding: 20px;
}

.about-section {
  background-color: #f1f8e9;
  padding: 20px;
}