.nav-bar {
    
  background-color: #f8f8f8;
  padding: 10px;
 
}

.nav-bar ul {
  display: flex;                     /* activates flexbox */
  justify-content: center;    /* equal space between items */
  align-items: center;               /* vertically center items */
  list-style: none;                  /* remove bullet points */
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline-block;
  margin:0 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
}

.nav-bar a:hover {
  text-decoration: underline;
}
.main-logo {
  height: 40px;
}