
.specials-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 190px;
  padding-right: 250px;
  padding-top: 30px;
  background-color:#fffaf2;
  font-size: 20px;
  text-align: center;
}
.online-btn {
   margin-top: 50px;
  padding: 10px 20px;
  background-color: #F4CE14;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-section {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;           
  padding: 40px;
  background-color: #ffffff;
  padding: 20px;
}

article {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}


article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-food {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}